@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header {
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 200px;
    float: left;
    border: none;
}

nav {
    float: right;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 15px;
    font-size: 14pt;
    font-weight: bold;,
}

nav ul li a:hover {
    text-decoration: underline;
}

#zajawka {
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #dedede;
    width: 100%;
    height: 500px; /* wysokość losowa mniej wiecej */
}

#formularz {
    display: flex;
    justify-content: center;

    flex-direction: column;
    align-items: center;
}

#formularz .text {
 width: 50%;
min-width: 300px;
}

.form-box {
    width: 50%;
    min-width: 300px;
    text-align: center;
}



.contact {

    font-family: 'Open Sans', sans-serif;
    color: #6b88ff;
    text-decoration: blink;
}

.placeholder {


    width: 350px;
    min-width: 150px;
    color: #6c6e70;
border: 1px  solid #dedede;
    border-radius: 2%;
    padding: 10px;
margin-bottom: 10px;
}

.placeholder:invalid {

    border: red solid;

}






#button {
    width: 350px;
    min-width: 150px;
color: #ffffff;
    font-weight: bold;
    background-color:#6c6e70 ;
   border: none;
padding:10px;
}

#button:hover {
    color: #6c6e70 ;
    background-color: #e5e5e5;
    cursor: pointer;
}

.text {

    font-family: cursive;
    color: #6b88ff;
    text-decoration: blink;

}

.text :hover {

    color: blue;
    transition-duration:10s;

}

.imgform {
    width: 70px;

}



#funkcjonalnosci {
    font-family: 'Open Sans', sans-serif;
    margin: 100px auto 0 auto;
    text-align: center;
    width: 90%;
    position: relative;
}

.funkcjonalnosci_tresc {
    color: #5e0000;
    padding: 40px 60px;
    margin: 15px auto;
    width: 200px;
    text-align: center;
    display: inline-block;
}

.haslo {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 80px;
    width: 100%;
    overflow: hidden;
}

.tojestto {
    font-size: 48px;
    color: #f8f8f8;
    margin: -130px auto 60px auto;
    font-style: italic;
    font-weight: 800;
}

.funkcjonalnosci_picto {
    width: 90px;
    padding-top: 30px;
}

nav {
    float: right;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    font-size: 14pt;
    font-weight: bold;
    transition: border-bottom 1s;
    border-bottom: 1px solid transparent;
}

nav ul li a:hover {
    border-bottom: 1px solid #000000;
    text-decoration: none;
}

#zajawka {
    margin: 10px 0;
    box-sizing: border-box;
    width: 100%;
    height: 572px; /* wysokość losowa mniej wiecej */
    text-align: center;
}

.foto {
    max-height: 572px;
    width: 80%;
    opacity: 0.9;
}

#odniesienie-do-formularza {
    position: center;

}

.button1 a {
    display:inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 250px;
    transition: all 0.2s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    outline: none;

}