@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');

body {
  min-width: 325px;
}

.content {
  width: 100%;
  height: 100%;
}

.logo {
  width: 200px;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 14pt;
  font-weight: bold;
  transition: border-bottom 1s;
  border-bottom: 1px solid transparent;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #cd694a;
  background: #ffffff;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
}

.slider {
  position: relative;
}

.twojemiasto {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.twojemiasto-btn {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.twojemiasto-btn a {
  font-size: 14pt;
}

.twojemiasto span {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 30px;
  font-weight: bold;
  font-size: 2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.funkcjonalnosci {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  line-height: 1.4em;
  font-size: 1.3em;
}

.funkcjonalnosci_tresc_dodatkowe,
.funkcjonalnosci_tresc,
.funkcjonalnosci_tresc2,
.funkcjonalnosci_tresc3,
.funkcjonalnosci_tresc4 {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  border: solid white 1px;
}

.funkcjonalnosci_tresc_dodatkowe {
  border: none;

}

.funkcjonalnosci_tresc {
  text-align: center;
  color: #204575;
  background-color: rgba(32, 69, 117, 0.05);
}

.funkcjonalnosci_tresc2 {
  text-align: center;
  color: #2a8487;
  background-color: rgba(42, 132, 135, 0.04);
}

.funkcjonalnosci_tresc3 {
  text-align: center;
  color: #5e0000;
  background-color: rgba(94, 0, 0, 0.05);
}

.funkcjonalnosci_tresc4 {
  text-align: center;
  color: #55691e;
  background-color: rgba(85, 105, 30, 0.05);
}

.funkcjonalnosci_naglowek {
  line-height: 1.3em;
  font-weight: 900;
  margin-bottom: 10px;
}

.funkcjonalnosci_tresc_dodatkowe {
  text-align: center;
  color: white;
  background-color: #752959;
}

.haslo {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 5px;
  width: 100%;
  background-color: #5e0000;
}

.funkcjonalnosci_picto {
  width: 90px;
  padding-top: 30px;
}

.funkcjonalnosci_picto2 {
  width: 70px;
  padding-top: 30px;
}

.team {
  margin-top: 50px;
  margin-bottom: 50px;
}

.osoba {
  /* kuku! nic tu nie ma */
}

.osoba .profilowe {
  max-width: 200px;
}

.osoba .imienazwisko {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 13pt;
  width: 100%;
}

.osoba .linki {
  /* kuku! nic tu nie ma */
}

.osoba .linki img {
  max-width: 30px;
}

.tytul-sekcji {
  font-family: 'Open Sans', sans-serif;
  font-size: 36pt;
  font-weight: lighter;
  color: white;
  margin: 20px 0 0px 0;
  padding: 30px 0 30px 0;
  box-sizing: border-box;
}

.tytul-sekcji2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36pt;
  font-weight: 100;
  color: #6b7070;
  margin: 20px 0 0px 0;
  padding: 30px 0 30px 0;
  box-sizing: border-box;
}

.tytul-sekcji3 {
  background-color: #752959;
  font-family: 'Open Sans', sans-serif;
  font-size: 36pt;
  font-weight: 100;
  color: #6b7070;
  margin: 20px 0 0px 0;
  padding: 30px 0 30px 0;
  box-sizing: border-box;
}

#formularz {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

#formularz .text {
  margin: 20px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

.contact {
  font-family: 'Open Sans', sans-serif;
  color: #5e0000;
  text-decoration: blink;
}

.placeholder {
  color: #6c6e70;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2%;
  padding: 12px;
  margin-bottom: 10px;
  width: 300px;
}

#button {
  color: #ffffff;
  font-weight: bold;
  background-color: #204575;
  border: 1px solid rgb(255, 255, 255);
  padding: 12px;
  min-width: 150px;
}

#button:hover {
  color: #ffffff;
  background-color: #57b0b9;
  cursor: pointer;
}

.text {
  font-family: cursive;
  color: #3c3d3f;
  text-decoration: blink;
}

.clause {
  font-size: x-small;

}

.stopka {
  margin-top: 40px;
  background-color: #e3e3e3;
  width: 100%;
  padding: 10px;
}

.stopka p {
  color: #000;
}

.star {
  font-size: 36pt;
  color: gold;
}

#funkcjonalnosci-dodatkowe {
  padding-bottom: 80px;
  background-color: #752959;
  color: white;
  font-size: 1.3em;
}

#funkcjonalnosci-dodatkowe h3 {
  font-weight: bold;
}

.container-fluid-withoutpadd {
  padding: 0;
}

.row {
  margin: 0;
}

#cookies-message {
  background: rgba(87, 176, 185, 0.8);
  margin-top: 115px;
  padding: 10px 0px;
  font-size: 9pt;
  line-height: 15px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 999;
  font-weight: bold;
  color: white;
}


.cookie-more {
  color: white;
text-decoration: underline;
}

#accept-cookies-checkbox{

  margin: 5px;
  padding: 8px;
  background-color: #39668b;
  color: #ffffff;
  display: inline-block;
  margin-left: 5px;
  text-decoration: none;
  cursor: pointer;

}

#app-link {
    margin: 25px 0;
}

#app-link p {
    font-size: 14pt;
    font-weight: bold;
    color: #55691e;
}

#app-link a {
    font-size: 16pt;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .funkcjonalnosci_tresc_dodatkowe,
  .funkcjonalnosci_tresc,
  .funkcjonalnosci_tresc2,
  .funkcjonalnosci_tresc3,
  .funkcjonalnosci_tresc4 {
    width: 50%;
    padding: 50px 60px 80px 60px;
  }
}

@media screen and (min-width: 1201px) {
  .funkcjonalnosci_tresc_dodatkowe,
  .funkcjonalnosci_tresc,
  .funkcjonalnosci_tresc2,
  .funkcjonalnosci_tresc3,
  .funkcjonalnosci_tresc4 {
    width: 25%;
    padding: 50px 80px 80px 80px;
  }
}

@media (max-width: 767px) {
  .navbar-header {
    margin-bottom: 40px;
  }

  .navbar-collapse {
    border-bottom: 1px solid #dedede;
  }

  .twojemiasto {
    top: 20%;
  }

  .twojemiasto span {
    padding: 10px 15px;
    font-size: 1.5em;
  }

  .twojemiasto-btn {
    top: 60%;
  }

  .twojemiasto-btn a {
    font-size: 12pt;
  }

  .osoba {
    margin-bottom: 20px;
  }

  .tytul-sekcji, .tytul-sekcji2, .tytul-sekcji3 {
    font-size: 24pt;
  }

  .tojestto {
    font-size: 18pt;
  }

  .placeholder {
    width: 80%;
  }

  #button {
    width: 80%;
  }

  .logo {
    width: 150px;
  }

  .navbar-default {
    padding-bottom: 0;
  }

  .navbar-default .navbar-nav > li > a {
    text-align: center;
  }

  body {
    padding-top: 90px;
  }
}

@media (min-width: 768px) {

  .navbar-default .navbar-nav {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .navbar-default .navbar-nav > li > a:hover {
    border-bottom: 1px solid #000000;
    text-decoration: none;
  }

  body {
    padding-top: 110px;
  }

}

@media (max-width: 992px) {

  .twojemiasto-btn {
    top: 55%;
  }

  .placeholder {
    text-align: center;
  }

}

@media (min-width: 1200px) {

  .twojemiasto-btn {
    top: 50%;
  }

  .twojemiasto-btn a {
    font-size: 16pt;
  }

}

@media (min-width: 1500px) {

  .twojemiasto-btn {
    top: 40%;
  }

  .twojemiasto-btn a {
    font-size: 18pt;
  }

}

.pudelko {
  max-width: 200px;
  height: 225px;
  margin: 30px auto 10px auto;
  perspective: 300px;
  -webkit-perspective: 300px;
}

.karta {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 2s;
  -webkit-transition: 2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.pudelko:hover > .karta {
  transform: rotateY(190deg);
  -webkit-transform: rotateY(190deg);
}

.przod {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.tyl {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.6em;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.img-slider {
  width: 100%;

}

.section-backgr {
  background-color: rgb(70, 128, 134);
  color: #ffffff;
  padding: 30px 0;
}

.section-backgr3 {
  background-color: rgb(117, 41, 89);
  color: #ffffff;
  padding: 30px 0;
}


