#funkcjonalnosci {

}

.funkcjonalnosci_tresc {
    margin: 30px;
    padding: 20px;
    background-color: beige;
    color: gray;
}

.funkcjonalnosci_picto {
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
}

.funkcjonalnosci_naglowek {


}

.funkcjonalnosci_opis {

}